*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: sans-serif;
    background-color: lightslategray;
}

h1{
    font-size: 4rem;
    margin-top: 1.5rem;
}

.row{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.card{
    width: 25%;
    background-color: burlywood;
    border-radius: 25px;
    padding: 1.5rem 0;
    transition: .2s linear;
}

h3{
    margin: .5rem 0;
    color: rgb(48, 48, 48);
    font-style: italic;
}

img{
    width: 100%;
}

.card:hover{
    background-color: chocolate;
}